process {
    withLabel:process_low {
        cpus = { 2 * task.attempt}
        memory =  { 4.GB * task.attempt}
        time = { 10.h * task.attempt}
    }
    
    withLabel:process_high {
        cpus = { 8 * task.attempt}
        memory =  { 48.GB * task.attempt }
        time = { 10.h * task.attempt}
    }

    withLabel:process_medium {
        cpus = { 4 * task.attempt} 
        memory =  { 32.GB * task.attempt }
        time = { 10.h * task.attempt}
    }

    withLabel:process_low_cpu {
        cpus = { 1 * task.attempt}
        memory =  { 4.GB * task.attempt}
        time = { 10.h * task.attempt}
    }
}

