process {
    errorStrategy = { task.attempt <= params.maxRetries ? 'retry' : params.errorStrategy }
    maxRetries = { task.attempt <= params.maxRetries ? params.maxRetries : 0 }
    maxErrors = '-1'

    cpus = 1
    memory = { 1.GB * task.attempt }
    time = { 5.h * task.attempt }
    maxForks = 24
}
